

.card{


    height: 750px;
    width: 400px;
    background-color: bisque;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 50px;
   
    
}

.card img{
    height: 350px;
    width: 100%;
}

.card button{
    height: 50px;
    width: 80px;
    margin-left: 150px;
    border: 2px solid rgb(118, 7, 7);
    background-color: rgb(39, 209, 107);

    

}

